defaults:
  - default
  - _self_

trainer:
  train_dataloader:
    datasets:
      data: 1.0
    dataset_split: train
    num_workers: 0
    tokenize_fn: 
      _target_: src.core.datasets.get_tokenize_fn
      model_name: gpt2

  eval_dataloader:
    datasets:
      data_eval: 1.0
    dataset_split: validation
    num_workers: 0
    tokenize_fn: 
      _target_: src.core.datasets.get_tokenize_fn
      model_name: gpt2
