defaults:
  - default
  - _self_

trainer:
  train_dataloader:
    dataset:
      _target_: src.core.datasets.C4Dataset
      sequence_length: 16
      tokenize_fn: ???
      path: data
      split: train
      seed: 123
      use_new_sampling_method: true
      shuffle: true
      world_size_independent: false
    num_workers: 0

  eval_dataloader:
    dataset:
      _target_: src.core.datasets.C4Dataset
      sequence_length: 16
      tokenize_fn: ???
      path: data_eval
      split: validation
      seed: 123
      use_new_sampling_method: true
      shuffle: true
      world_size_independent: false
    num_workers: 0