defaults:
  - default
  - _self_

trainer:
  train_dataloader:
    dataset_path: data
    dataset_split: train
    dataset_type: c4
    num_workers: 0
    tokenize_fn: 
      _target_: src.core.datasets.gpt2_tokenize_fn

  eval_dataloader:
    dataset_path: data_eval
    dataset_split: validation
    dataset_type: c4
    num_workers: 0
    tokenize_fn: 
      _target_: src.core.datasets.gpt2_tokenize_fn