defaults:
  - swiglu_dense_template
  - _self_

common:
  _target_: src.definitions.Common
  dmodel: 1024
  dff: 2560
  datt: 1024
  n_blocks: 16
  q_heads: 16
  kv_heads: 16
  vocab_size: 50304
  sequence_length: 256
  head_norm: true
  init_scale: 0.1
  init_type: truncated_normal_fixed
  model_type: gpt