defaults:
  - swiglu_dense_template
  - _self_

common:
  _target_: src.definitions.Common
  dmodel: 64
  dff: 128
  datt: 64
  n_blocks: 4
  q_heads: 4
  kv_heads: 2
  vocab_size: 50304
  sequence_length: 16
  head_norm: true
  init_scale: 0.1
  init_type: truncated_normal_fixed
  model_type: gpt