defaults:
  - ../_cluster@_here_: entropy
  - ../_model@_here_: plasticity_512
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: c4
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default

common:
  sequence_length: 256
  batch_size: 256

trainer:
  gradient_accumulation_steps: 1
  n_steps: 10_000
  learning_rate: 1e-3

  scheduler:
    _partial_: true
    _target_: src.plasticity.schedulers.WSDScheduler
    n_steps: ${trainer.n_steps}
    warmup_fraction: 0.1
    decay_fraction: 0.1
    final_lr_fraction: 0

  checkpoint:
    save:
      type: huggingface
      path: final_chkpt

infrastructure:
  metric_logger:
    name: plasticity_basic_exp
    tags:
      - nano
      - plasticity
      - basic

  slurm:
    gres: gpu:1
    time: "01:00:00"

evaluator:
  _partial_: true
  _target_: src.plasticity.eval.Evaluator
  checkpoint_path: ${trainer.checkpoint.save.path}
  tokenizer: meta-llama/Llama-3.1-8B
  tasks:
    - wikitext
    - piqa
  limit: null
  device: cpu
