defaults:
  - ../_cluster@_here_: entropy
  - ../_model@_here_: plasticity_512
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: c4
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default
  - ../_eval@_here_: default

common:
  sequence_length: 512
  batch_size: 256
  dmodel: 768
  dff: 3072
  datt: 768
  n_blocks: 12
  q_heads: 12
  kv_heads: 12
  evaluate: true

trainer:
  gradient_accumulation_steps: 2
  n_steps: 50_000
  learning_rate: 1e-3

  scheduler:
    _partial_: true
    _target_: src.plasticity.schedulers.WSDScheduler
    n_steps: ${trainer.n_steps}
    warmup_fraction: 0.1
    decay_fraction: 0.1
    final_lr_fraction: 0

  checkpoint:
    save:
      type: huggingface
      path: final_chkpt

infrastructure:
  metric_logger:
    name: plasticity_basic_exp
    tags:
      - nano
      - plasticity
      - basic

  slurm:
    gres: gpu:1
    time: "01:00:00"

# Use default evaluator settings from _eval/default.yaml
