defaults:
  - base_scheduler_comparison

trainer:
  scheduler:
    _partial_: true
    _target_: src.plasticity.schedulers.RepeatedScheduler
    num_cycles: 3
    warmup_steps: ${eval:'int(${trainer.n_steps} * 0.1)'}
    base_scheduler_factory:
      _partial_: true
      _target_: src.plasticity.schedulers.WSDScheduler
      decay_fraction: 0.1
      final_lr_fraction: 0.1

infrastructure:
  metric_logger:
    name: Plasticity_Repeated_WSD
