defaults:
  - ../_cluster@_here_: local
  - ../_model@_here_: plasticity_test
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: local_dummy
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default

common:
  sequence_length: 8
  batch_size: 2
  dmodel: 64
  dff: 128
  datt: 64
  n_blocks: 2
  q_heads: 2
  kv_heads: 2

trainer:
  gradient_accumulation_steps: 1
  n_steps: 100
  learning_rate: 1e-3
  scheduler:
    _partial_: true
    _target_: src.plasticity.schedulers.RepeatedScheduler
    n_steps: ${trainer.n_steps}
    num_cycles: 3
    warmup_steps: 15
    final_lr_fraction: 0
    base_scheduler_factory:
      _partial_: true
      _target_: src.plasticity.schedulers.WSDScheduler
      warmup_steps: 2
      decay_steps: 10
      final_lr_fraction: 0.4

infrastructure:
  metric_logger:
    name: local_debug_repeated
    type: neptune
    tags:
      - nano
      - plasticity
      - remove
      - local_debug
