defaults:
  - ../_cluster@_here_: local
  - ../_model@_here_: plasticity_mini
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: local_dummy
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default

common:
  sequence_length: 8
  batch_size: 2
  dmodel: 64

trainer:
  gradient_accumulation_steps: 1
  n_steps: 100
  learning_rate: 1e-3

  scheduler:
    _partial_: true
    _target_: src.plasticity.schedulers.WSDScheduler
    n_steps: ${trainer.n_steps}
    warmup_fraction: 0.1
    decay_fraction: 0.1
    final_lr_fraction: 0

  checkpoint:
    save:
      type: huggingface
      path: final_chkpt

infrastructure:
  metric_logger:
    name: tiny_local
    tags:
      - nano
      - plasticity
      - tiny
      - local

  # slurm:
    # gres: gpu:1
  #   time: "01:00:00"

eval:
  do_eval: true
  checkpoint_path: ${trainer.checkpoint.save.path}
  tasks:
    - wikitext
    - piqa
  limit: 3
  device: cpu

