infrastructure:
  server: entropy
  max_concurrent_jobs: null
  slurm:
    cpus_per_gpu: 14
    gres: ???
    job-name: test
    mem_per_gpu: 90G
    nodes: 1
    partition: h100
    time: "2-00:00:00"
    
  script:
    - 'export PROJECT_HOME_PATH=/storage_nvme_4/nano'
    - 'export HF_HOME=$PROJECT_HOME_PATH/hf_cache'

    # hydra errors
    - 'export HYDRA_FULL_ERROR=1'

    # export pixi variables
    - 'export PIXI_HOME=/storage_nvme_4/nano/pixi_new'
    - 'export PATH="$PIXI_HOME/bin:$PATH"'
    - 'export XDG_DATA_HOME="$PIXI_HOME/data"'
    - 'export XDG_CACHE_HOME="$PIXI_HOME/cache"'
    - 'export XDG_STATE_HOME="$PIXI_HOME/state"'
    
    # activate pixi
    - 'cd "$PIXI_HOME"'
    - 'eval "$(pixi shell-hook)"'
    - 'cd -'

cluster_switch:
  train_path_c4: "/storage_nvme_1/llm-random/datasets/c4/train"
  eval_path_c4: "/storage_nvme_1/llm-random/datasets/c4/validation"
  train_path_fineweb: "/storage_nvme_4/llm-random/datasets/fineweb/train"
  eval_path_fineweb: "/storage_nvme_4/llm-random/datasets/fineweb/train"
