infrastructure:
  server: helios
  slurm:
    cpus_per_gpu: 12
    gres: ???
    job-name: test
    mem_per_gpu: 90G
    nodes: 1
    partition: plgrid-gpu-gh200
    time: "2-00:00:00"

  script:
    - 'module load ML-bundle/25.04'
    - 'export PROJECT_HOME_PATH=$PLG_GROUPS_STORAGE/plggllmeffi/nano'
    - 'export HF_HOME=$PROJECT_HOME_PATH/hf_cache'
    
    # hydra errors
    - 'export HYDRA_FULL_ERROR=1'
    
    # export pixi variables
    - 'export PIXI_HOME=/net/storage/pr3/plgrid/plggllmeffi/nano/pixi'
    - 'export PATH="$PIXI_HOME/bin:$PATH"'
    - 'export XDG_DATA_HOME="$PIXI_HOME/data"'
    - 'export XDG_CACHE_HOME="$PIXI_HOME/cache"'
    - 'export XDG_STATE_HOME="$PIXI_HOME/state"'
    
    # activate pixi
    - 'cd "$PIXI_HOME"'
    - 'eval "$(pixi shell-hook)"'
    - 'cd -'

cluster_switch:
  train_path_c4: "/net/scratch/hscra/plgrid/plgmaciejpioro/c4/train"
  eval_path_c4: "/net/scratch/hscra/plgrid/plgmaciejpioro/c4/validation"
  train_path_fineweb: "/net/scratch/hscra/plgrid/plgmaciejpioro/fineweb-edu/train/train"
  eval_path_fineweb: "/net/scratch/hscra/plgrid/plgmaciejpioro/fineweb-edu/train/train"
