infrastructure:
  server: lem
  max_concurrent_jobs: null
  slurm:
    cpus_per_gpu: 12
    gres: ???
    job-name: test
    mem_per_gpu: 90G
    nodes: 1
    partition: plgrid-lem-gpu-h100
    time: "2-00:00:00"

  script:
    - 'ml CUDA/12.4.0'
    - 'export PROJECT_HOME_PATH=/lustre/pd01/plgrid/plgllmefficont2/nano/context_scaling'
    - 'export HF_HOME=$PROJECT_HOME_PATH/hf_cache'
    
    # hydra errors
    - 'export HYDRA_FULL_ERROR=1'
    
    # export pixi variables
    - 'export PIXI_HOME=$PROJECT_HOME_PATH/pixi'
    - 'export PATH="$HOME/.pixi/bin:$PATH"'
    - 'export XDG_DATA_HOME="$PROJECT_HOME_PATH/data"'
    - 'export XDG_CACHE_HOME="$PROJECT_HOME_PATH/cache"'
    - 'export XDG_STATE_HOME="$PROJECT_HOME_PATH/state"'
    
    # activate pixi
    - 'cd "$PIXI_HOME"'
    - 'eval "$(pixi shell-hook)"'
    - 'cd -'

cluster_switch:
  train_path_c4: null
  eval_path_c4: null
  train_path_fineweb: /lustre/pd03/plgrid/plgllmefficont2/crewtool/proba2/fineweb-edu/train/train
  eval_path_fineweb: /lustre/pd03/plgrid/plgllmefficont2/crewtool/proba2/fineweb-edu/train/train
