defaults:
  - ../_cluster@_here_: entropy
  - ../_model/llmrandom@_here_: def_800
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: c4
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default


common:
  sequence_length: 512
  batch_size: 512


trainer:
  gradient_accumulation_steps: 4
  ^n_steps: 
    - 4001 # 1B
    # - 8001
    # - 16001
    # - 24001

  learning_rate: 11

  checkpoint:
   load:
    type: llm-random
    path: ??? # CHANGE
   save:
    type: nano
    path: ??? # CHANGE

  distributed: null

  train_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.gpt2_tokenize_fn

  eval_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.gpt2_tokenize_fn


infrastructure:
  metric_logger:
    name: LLMR_training
    tags:
      - nano
      - pc
      - llmr_800

  slurm: 
    job-name: ${infrastructure.metric_logger.name}
    gres: gpu:1
    time: "0-4:00:00"