defaults:
  - ../_cluster@_here_: entropy
  - ../_model/smollm@_here_: def_360
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: fineweb
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default


common:
  sequence_length: 1024
  batch_size: 512

  # target_dmodel: 630 # 50
  # target_dff: 1680
  target_dmodel: 480 # 35
  target_dff: 1280
  # target_dmodel: 330 # 20
  # target_dff: 880


trainer:
  gradient_accumulation_steps: 4
  ^n_steps: 
    - 2048 # 1B tokens
    # - 4096
    # - 6144
    # - 8192
    # - 12288
    # - 16384

  # learning_rate: null  # 50 1B # CHANGE
  learning_rate: 7 # 35 1B
  # learning_rate: 7 # 20 1B
  
  scheduler:
    warmup_steps: 40

  checkpoint:
   load:
    type: huggingface
    path: "HuggingFaceTB/SmolLM-360M"
   save:
    type: nano
    path: ??? # CHANGE

  train_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.smollm_360_tokenize_fn

  eval_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.smollm_360_tokenize_fn


infrastructure:
  metric_logger:
    name: SLLM_360_prune
    tags:
      - nano
      - pc
      - smollm_360
      - hard_pruning
      - 50p
      # - 35p
      # - 20p

  slurm: 
    job-name: ${infrastructure.metric_logger.name}
    gres: gpu:4
    time: "0-8:00:00"


apply_functions:
  - _target_: src.projected_compression.pruning.prune
    _partial_: true
    dimensions_importances_path: ??? # CHANGE
    target_dmodel: ${common.target_dmodel}
    target_dff: ${common.target_dff}