defaults:
  - ../_cluster@_here_: entropy
  - ../_model/smollm@_here_: projected_360
  - ../_trainer@_here_: pc_llama
  - ../_dataset@_here_: fineweb
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default


common:
  sequence_length: 1024
  batch_size: 512
  
  dmodel: 480 # 35
  dff: 1280
  # dmodel: 330 # 20
  # dff: 880


trainer:
  gradient_accumulation_steps: 4
  ^n_steps: 
    - 2048 # 1B tokens
    # - 4096
    # - 6144
    # - 8192
    # - 12288
    # - 16384

  # learning_rate: 12 # 50 1B
  learning_rate: 11 # 35 1B
  # learning_rate: 11 # 20 1B

  scheduler:
    warmup_steps: 40

  checkpoint:
   load:
    type: huggingface
    path: "HuggingFaceTB/SmolLM-360M"
   save:
    type: nano
    path: ??? # CHANGE

  train_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.smollm_360_tokenize_fn

  eval_dataloader:
    dataset:
      tokenize_fn: 
        _target_: src.core.datasets.smollm_360_tokenize_fn


infrastructure:
  metric_logger:
    name: SLLM_360_comp_20r
    tags:
      - nano
      - pc
      - smollm_360
      - projected_compression
      # - 50p
      - 35p
      # - 20p

  slurm: 
    job-name: ${infrastructure.metric_logger.name}
    gres: gpu:4
    time: "0-8:00:00"


apply_functions:
  - _target_: src.projected_compression.compression.init_compression
    _partial_: true
    dimensions_importances_path: ??? # CHANGE
    target_dmodel: ${common.dmodel}
    target_dff: ${common.dff}