defaults:
  - _cluster@_here_: entropy
  - _model@_here_: tiny
  - _trainer@_here_: llama
  - _dataset@_here_: smollm_corpus
  - _checkpoints@_here_: none
  - _misc@_here_: default
  - _eval@_here_: default

common:
  sequence_length: 16
  batch_size: 2

trainer:
  gradient_accumulation_steps: 1
  n_steps: 100
  learning_rate: 1e-3

  checkpoint:
    save:
      type: huggingface
      path: checkpoint

infrastructure:
  metric_logger:
    name: tiny_Local
    tags:
      - nano
      - local
      - tiny

  slurm:
    job-name: dataset_mixture_test
    gres: gpu:1

evaluator: null
#  limit: 1
#  device: cpu