
defaults:
  - _cluster@_here_: local
  - _model/llama@_here_: projected_1B
  - _trainer@_here_: llama
  - _dataset@_here_: c4
  - _checkpoints@_here_: none
  - _misc@_here_: default


common:
  sequence_length: 512
  batch_size: 64


trainer:
  gradient_accumulation_steps: 1
  n_steps: 2048

  learning_rate: 6.103515625e-05

  checkpoint:
   save:  
    path: null
   load:
    type: huggingface
    path: "meta-llama/Llama-3.2-1B"

infrastructure:
  metric_logger:
    name: Llame_PC
    tags:
      - nano
      - pc
      - llama_1_pc

  slurm: 
    gres: gpu:4

apply_functions:
  - _target_: src.projected_compression.compression.init_compression
    _partial_: true
    # dimensions_importances_path: ??? # change
    dimensions_importances_path: "XD"
    target_dmodel: ${common.dmodel}
    target_dff: ${common.dff}


