defaults:
  - _cluster@_here_: local
  - _model@_here_: tiny
  - _trainer@_here_: llama
  - _dataset@_here_: local_dummy
  - _checkpoints@_here_: none
  - _misc@_here_: default


common:
  sequence_length: 16
  batch_size: 2


trainer:
  gradient_accumulation_steps: 1
  n_steps: 100

  learning_rate: 1e-3

infrastructure:
  metric_logger:
    name: tiny_Local
    tags:
      - nano
      - local
      - tiny

