defaults:
  # - ../_cluster@_here_: helios #helios
  - ../_cluster@_here_: entropy
  - ../_model/llama@_here_: projected_1B
  - ../_trainer@_here_: llama_distillation
  - ../_dataset@_here_: fineweb
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default


common:
  sequence_length: 1024
  batch_size: 512


  # dmodel: 448 # 10
  # dff: 1728
  dmodel: 960 # 30
  dff: 3840
  # dmodel: 1344 # 50
  # dff: 5376
  # dmodel: 1728 # 75
  # dff: 6912
  # dmodel: 2048 # 100
  # dff: 8192

  target_dmodel: ${common.dmodel}
  target_dff: ${common.dff}

  smart_init: False
  # smart_init: mpp
  # smart_init: mpp
  # ^smart_init: 
  #   - svd
  #   - mpp
  #   - False
  

trainer:
  # gradient_accumulation_steps: 16 
  gradient_accumulation_steps: 8
  # gradient_accumulation_steps: 4
  ^n_steps: 
    # - 101
    - 2048
    # - 4096
    # - 8192
    # - 12288
    # - 16384
    # - 32768

  # learning_rate: 13 # optimal 10% ???
  learning_rate: 13 # optimal 30%
  # learning_rate: 13 # optimal 50%
  # learning_rate: asd # optimal 100%

  # learning_rate: 12 # optimal 10% smart init
  # learning_rate: 13 # optimal 30% smart init
  # learning_rate: asd # optimal 50% smart init
  ^learning_rate: 
  # #   # - 10
    - 11
    # - 12
    # - 13
    # - 14
    - 15
  # #   # - 16
  # #   # - 17

  # train_dataloader:
    # world_size_independent: true
    # ^seed: 
    #   - 1
      # - 2
      # - 3
      # - 4

  scheduler:
    warmup_steps: 40


  checkpoint:
   load:
    type: huggingface
    path: "meta-llama/Llama-3.2-1B"
    # path: "/net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/llama1_ta3/llama1_ta3/" # helios ta3b
    # path: /storage_nvme_3/mstefaniak/nano_checkpoints/llama1_ta3/66751/0 # entropy ta10b
  #  save:  
  #   type: nano
    # path: /storage_nvme_3/mstefaniak/nano_checkpoints/tmp # entropy
    # path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/tem # #helios

infrastructure:
  metric_logger:
    name: Llame_PC
    tags:
      - nano
      - pc
      - llama_1
      - projected_compression
      - distillation
      # - ta10b
      # - 10p
      - 30p
      # - 50p
      # - 100p
      # - magnitude
      # - randomi
      # - smart_init
      # - mpp
      # - svd
      # - better_distillation
      # - better_base
      # - svd_better
      # - mpp_better
      # - TEST
      # - batch_size
      # - reproduce_best
      # - variance
      # - base_compresor
      # - world_size_independent
      # - speedup
      # - range
      # - auxilary_error_init
      - REBUTAL
      # - occlusion
      - freeze_projections
      # - lr_tune
  

  slurm: 
    job-name: ${infrastructure.metric_logger.name}
    gres: gpu:4
    # time: "0-0:15:00"
    # time: "0-3:30:00"
    # time: "0-12:00:00"
    time: "0-24:00:00"

apply_functions:
  - _target_: src.projected_compression.compression.init_compression
    _partial_: true
    dimensions_importances_path: /storage_nvme_3/mstefaniak/pc/fw_importances_8m/minitron_dimensions_importances.pt # entropy ACTIVATIONS llama31 ######################################
    # dimensions_importances_path: /storage_nvme_3/mstefaniak/pc/fw_importances_8m/random_dimensions_importances.pt # entropy RANDOM llama31
    # dimensions_importances_path: /storage_nvme_3/mstefaniak/nano_checkpoints/tmp/68549/0/magnitude_dimensions_importances.pt # entropy MAGNITUDE llama31
    
    # dimensions_importances_path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/llama_1_fw_importances/minitron_dimensions_importances.pt # #helios ACTIVATIONS llama31 ######################################
    # dimensions_importances_path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/llama_1_fw_importances/random_dimensions_importances.pt # #helios RANDOM llama31
    # dimensions_importances_path: /net/home/plgrid/plgmstefaniak/checkpoints/llama_1_importances/magnitude_dimensions_importances.pt # #helios RANDOM llama31
    
    # # dimensions_importances_path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/pc/fw_importances_8m/minitron_dimensions_importances.pt # helios llama3
    # # dimensions_importances_path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/tem/6854696/0/minitron_dimensions_importances.pt # helios ta3b
    # # dimensions_importances_path: /storage_nvme_3/mstefaniak/nano_checkpoints/tmp/66752/0/minitron_dimensions_importances.pt # entropy ACTIVATIONS ta10
    # # dimensions_importances_path: /storage_nvme_3/mstefaniak/nano_checkpoints/tmp/66752/0/random_dimensions_importances.pt # entropy RANDOM ta10
    target_dmodel: ${common.dmodel}
    target_dff: ${common.dff}
    smart_init: ${common.smart_init}

