defaults:
  # - ../_cluster@_here_: helios
  - ../_cluster@_here_: entropy
  - ../_model/llmrandom@_here_: projected_300
  - ../_trainer@_here_: llama
  - ../_dataset@_here_: c4
  - ../_checkpoints@_here_: none
  - ../_misc@_here_: default

common:
  sequence_length: 512
  batch_size: 512
  
  dmodel: 640 # 50
  dff: 2560
  # dmodel: 480 # 35
  # dff: 1920
  # dmodel: 320 # 20
  # dff: 1280
  
  target_dmodel: ${common.dmodel}
  target_dff: ${common.dff}

trainer:
  gradient_accumulation_steps: 1
  ^n_steps: 
    - 201
    # - 4001
    # - 8001
    # - 16001
    # - 24001

  learning_rate: 14 # 50 1B
  # learning_rate: 14 # 35 1B
  # learning_rate: 14 # 20 1B
  # ^learning_rate: 
    # - 10
    # - 11
    # - 12
    # - 13
    # - 14
    # - 15
    # - 16
    # - 17

  scheduler:
    warmup_steps: 80
  
  checkpoint:
   load:
    type: llm-random
    path: null #dev
    # path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/def_4ff_1024_92688.pt # helios
    # path: /home/mstefaniak/checkpoints/def_4ff_1024_92688.pt # entropy
   save:  
    type: nano
    path: null #dev
    # path: /storage_nvme_3/mstefaniak/nano_checkpoints/tmp # entropy
    # path: /net/scratch/hscra/plgrid/plgmstefaniak/checkpoints/tem # #helios


  train_dataloader:
    tokenize_fn: 
      _target_: src.core.datasets.gpt2_tokenize_fn

  eval_dataloader:
    tokenize_fn: 
      _target_: src.core.datasets.gpt2_tokenize_fn

infrastructure:
  metric_logger:
    name: LLMR_300_PC
    tags:
      - nano
      - pc
      - llmr_300
      - projected_compression
      - 50p
      # - 35p
      # - 20p

  slurm: 
    job-name: ${infrastructure.metric_logger.name}
    gres: gpu:4
    time: "0-4:00:00"
    # time: "0-6:00:00"
    # time: "0-10:00:00"

apply_functions:
  - _target_: src.projected_compression.compression.init_compression
    _partial_: true
    dimensions_importances_path: /home/mstefaniak/checkpoints/importances/67735/0/minitron_dimensions_importances.pt # activations entropy llmr300
    # dimensions_importances_path: asd/minitron_dimensions_importances.pt # activations helios llmr300

    # # # # dimensions_importances_path: /home/mstefaniak/checkpoints/importances/67735/0/random_dimensions_importances.pt # random entropy llmr300
    # # # # dimensions_importances_path: asd/random_dimensions_importances.pt # random helios llmr300
    target_dmodel: ${common.dmodel}
    target_dff: ${common.dff}

